<div class="container-fluid d-flex justify-content-center mt-3">
  <h3 *ngIf="getUrlParam() === 'create'" class="text-light">Cadastrar Cliente</h3>
  <h3 *ngIf="getUrlParam() !== 'create'" class="text-light">Editar Cliente</h3>
</div>
<div class="mt-5 p-3 container-fluid d-flex justify-content-center">
  <form
      class="dark w-30"
      [formGroup]="customerForm"
      (ngSubmit)="onSubmit($event)">
    <div class="mb-3">
      <label for="cpf" class="form-label text-light">CPF</label>
      <input
        required
        (input)="customer.name"
        type="number"
        class="form-control"
        id="cpf"
        formControlName="cpf"
        [value]="customerForm.value.cpf"
        required
        >
    </div>
    <div class="mb-3">
      <label for="name" class="form-label text-light">Nome</label>
      <input
        required
        type="text"
        id="name"
        class="form-control"
        formControlName="name"
        [value]="customerForm.value.name"
       >
    </div>
    <div class="mb-3">
      <label for="income" class="form-label text-light">Renda Mensal</label>
      <input
        required
        type="number"
        class="form-control"
        id="monthly_income"
        formControlName="monthly_income"
       [value]="customerForm.value.monthly_income"
       >
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label text-light">Telefone</label>
      <input
        required
        type="number"
        class="form-control"
        id="phone"
        formControlName="phone"
       [value]="customerForm.value.phone"
       >
    </div>
    <div class="mb-3" *ngIf="getUrlParam() === 'create'">
      <label for="cep" class="form-label text-light">CEP</label>
      <input
        id="cep"
        required
        type="number"
        class="form-control"
        formControlName="cep"
       [value]="customerForm.value.cep"
       >
    </div>
    <div class="mb-3" *ngIf="getUrlParam() === 'create'">
      <label for="street" class="form-label text-light">Rua</label>
      <input
        id="street"
        required
        type="text"
        class="form-control"
        formControlName="street"
       [value]="(customerForm.value.street || '')"
       >
    </div>
    <div class="mb-3" *ngIf="getUrlParam() === 'create'">
      <label for="address_number" class="form-label text-light">Número</label>
      <input
        id="address_number"
        required
        type="number"
        class="form-control"
        formControlName="address_number"
       [value]="customerForm.value.address_number"
       >
    </div>
    <div class="d-flex flex-column" *ngIf="getUrlParam() === 'create'">
      <label for="relationship" class="form-label text-light">Relacionamento</label>
      <select class="mb-3" name="pets" id="relationship">
        <option value="BRONZE">BRONZE</option>
        <option value="SILVER">PRATA</option>
        <option value="GOLD">OURO</option>
    </select>
    </div>
    <button [disabled]="!customerForm.valid" type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>
